#arena {
  margin-top: 2em;
  height: 600px;
}
#user-btns {
  position: absolute;
  bottom: 1em;
}
#player,
#opponent,
.player,
.opponent {
  height: 100%;
}
#start {
  margin: 1em;
}
#ticker {
  padding: 2em;
}